.team .img {
    height: 90%;
    /* width: 100% !important; */
    padding: 0 !important;
}

.team {
    /* border: 1px solid; */
    padding: 1rem;
    background-color: #cccccc2f;
}

.team .img img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
}

.content_ {
    margin-top: .5rem;
}

.content_ p:first-child {
    font-size: 1.4rem;
}

.content_ p:last-child {
    font-size: .95rem;
    opacity: .9;
    padding-bottom: 1rem;
}

.team .values_ {
    width: 100% !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    /* border: 1px solid; */
    /* overflow-x: scroll;
   
    scroll-snap-type: x mandatory;
    padding-left: 50%; */
}

.team .title {
    font-size: 2.5rem;
    text-align: center;
    padding: 2rem;
}

.team .values_ .value_ {
    /* height: 19rem !important; */
    width: 100% !important;
    /* flex: 0 0 270px; */
    /* Fix the width of the value element */
    background-color: #fff;
    padding: 2rem;
    scroll-snap-align: start;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}